<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Robot_Arm_ASSY_half_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.376106625180625 -0.00358312329472308 -0.0452575370845516"
        rpy="0 0 0" />
      <mass
        value="47.7301508686849" />
      <inertia
        ixx="0.20277785181799"
        ixy="0.00963091634685365"
        ixz="0.187033116269051"
        iyy="3.97093461926187"
        iyz="0.0117080670069053"
        izz="3.98654242190741" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-7.23976911706087E-06 0.0104107184650963 -2.334089249309E-08"
        rpy="0 0 0" />
      <mass
        value="0.0267586704788677" />
      <inertia
        ixx="4.28747099957771E-06"
        ixy="1.56148292107742E-09"
        ixz="2.65242305529344E-11"
        iyy="3.55174067185821E-06"
        iyz="-7.12086832586899E-13"
        izz="3.071173238022E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0.03135 0.022079 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.0442741391131842 -1.04083408558608E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.196297763055837" />
      <inertia
        ixx="3.09944539010786E-05"
        ixy="-3.06777436339869E-20"
        ixz="-1.54056923885657E-20"
        iyy="0.000219288644587645"
        iyz="8.71950904172476E-22"
        izz="0.000216665314030348" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 0.025 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.195177244260054 -1.56125112837913E-16 -1.73472347597681E-17"
        rpy="0 0 0" />
      <mass
        value="0.741427763055838" />
      <inertia
        ixx="0.000124587793901079"
        ixy="-8.07391805322799E-18"
        ixz="3.30217296958749E-18"
        iyy="0.0121884973484229"
        iyz="4.22136693189308E-20"
        izz="0.0121740501778656" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="-0.1 0 0"
      rpy="0 0 -0.14271" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.27897628170109 -0.00389885493262485 -3.05311331771918E-16"
        rpy="0 0 0" />
      <mass
        value="1.0590650202151" />
      <inertia
        ixx="0.000207092182812784"
        ixy="2.15677712318495E-07"
        ixz="-1.5100695198829E-17"
        iyy="0.0250352184676771"
        iyz="1.72064117371127E-20"
        izz="0.0250566309214239" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 1 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="-0.45 0 0"
      rpy="0 0 -2.9989" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="3.91381642025901E-09 0 0.18902047022805"
        rpy="0 0 0" />
      <mass
        value="0.156447190374541" />
      <inertia
        ixx="0.00186599699109058"
        ixy="1.0120044037081E-21"
        ixz="-3.85559539579749E-11"
        iyy="0.00186599699109058"
        iyz="3.00900380477776E-20"
        izz="3.9105393251952E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="prismatic">
    <origin
      xyz="-0.13 0.003 0"
      rpy="3.1416 -1.5708 3.1416" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.38"
      effort="300"
      velocity="0.1" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-2.08166817117217E-17 0 -0.0108382091784279"
        rpy="0 0 0" />
      <mass
        value="0.0170160242741333" />
      <inertia
        ixx="2.20097044073708E-06"
        ixy="-2.23123039584461E-38"
        ixz="-2.35369460958683E-22"
        iyy="2.62345798760739E-06"
        iyz="-1.33490042628736E-23"
        izz="2.21488099393225E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot_Arm_ASSY_half_urdf/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="continuous">
    <origin
      xyz="0 0 0.376"
      rpy="3.1416 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="300"
      velocity="3" />
  </joint>
</robot>